body {
	font-size:20pt;
}
.formula{
	margin:20px;
}

@media (max-width: 1000px) {
	body {
	  font-size:40pt;
	}
	checkbox {
		transform: scale(3);
	}
	input, button {
		font-size: inherit;
	}
	.formula{
		margin:60px;
	}
}